:root {
    --background-color: #282828; /* Culoarea de fundal */
    --container-background: #3c3836; /* Culoarea fundalului containerului */
    --link-background: #98971a; /* Culoarea fundalului linkurilor */
    --link-background-hover: #b8bb26; /* Culoarea fundalului linkurilor la hover */
    --contact-button-background: #458588; /* Culoarea fundalului butonului de contact */
    --contact-button-hover: #83a598; /* Culoarea fundalului butonului de contact la hover */
    --social-icon-color: #ebdbb2; /* Culoarea iconițelor de social media */
    --social-icon-hover-color: #d3869b; /* Culoarea iconițelor de social media la hover */
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: var(--background-color);
}
.container {
    background: var(--container-background);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 800px;
    width: 90%;
    margin-bottom: 20px;
}
h1 {
    margin-bottom: 20px;
    color: var(--link-background); /* Folosirea culorii pentru linkuri */
}
.links-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
}
a {
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: var(--link-background);
    border-radius: 5px;
    transition: background-color 0.3s;
    position: relative;
    display: block;
}
a:hover {
    background-color: var(--link-background-hover);
}
.link-content {
    margin-bottom: 5px;
    font-weight: bold;
}
.link-description {
    color: var(--social-icon-color);
}
.contact-button-container {
    margin-top: 20px;
}
.contact-button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--contact-button-background);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s;
}
.contact-button:hover {
    background-color: var(--contact-button-hover);
}
.social-links {
    text-align: center;
    margin-top: 20px;
}
.social-links a {
    margin: 0 10px;
    color: var(--social-icon-color);
    font-size: 20px;
    transition: color 0.3s;
}
.social-links a:hover {
    color: var(--social-icon-hover-color);
}
.social-links a.rounded {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: var(--link-background);
    display: inline-block;
    margin-bottom: 10px;
}
